/* чел иди нахуй */

:root[mdt='1'] {
  --LM-font-family: font-family: -apple-system, BlinkMacSystemFont, Bahnschrift, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  --MH-Background: #1e1e1e !important;
  --MH-UserBar-Active-Light: #323232 !important;
  --MH-Background-Light: #1e1e1e !important;
  --MH-Background-Blue: #1e1e1e !important;
  --MH-Color: #fff !important;
  --MH-Color-Light: #1a1a1a !important;
  --MH-BorderColor: #33363a !important;
  --MH-IconWrap: #272727 !important;
  --MH-Avatar: #292929 !important;
  --MF-Color-Fill-App: #1e1e1e !important;
  --NC-Background-Light: #1e1e1e !important;
  --NC-Border-Light: #2b2b2b !important;
  --NC-Color-Black: #e6e6e6 !important;
  --MF-Background: #1e1e1e !important;
  --MF-Border: #33363a !important;
  --MF-Color: #e6e6e6 !important;
  --LM-layer-inverted: #1e1e1e !important;
  --LM-layer-darken: rgba(30,30,34,0.9) !important;
  --MH-Color-Black: #fff !important;
  --MH-MenuItem-Black: #f1f1f1 !important;
  --LM-content-primary: #fff !important;
  --MF-Color-Fill: #fff !important;
  --LM-neutrals-day-900: #fff !important;
  --LM-content-secondary: #f0f0f0 !important;
  --LM-content-on-layer-on-solid-secondary: #fff !important;
  --LM-content-on-layer-on-solid-primary: #fff !important;
  --LM-interactive-layer-accent-soft-hover: #fff !important;
  --palette-white: #2b2b2b !important;
  --LM-layer-1: #2b2b2b !important;
  --MH-Background-Light: #2b2b2b !important;
  --LM-neutrals-day-0: #2b2b2b !important;
  --MF-Color-dark: #FFFFFF !important;
  --LM-border-accent-solid: #FFFFFF !important;
  
  --LM-neutrals-day-500: #444444 !important;
}

html, body, #root {
  background-color: var(--MH-Background) !important;
  color: var(--MH-Color) !important;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Bahnschrift, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

._2vXYGvKmZR7Lo2sotbJXSu,
._3cGUA8m2hzSmkDcv99II9_,
._1oN9V_mBeevEqPkgxa-KU-,
._35JAg66-j8RunaN26U0EJA,
._11XleFZOxeHarVKUNM0aAE,
.diary-emotion-cache-1b05iij-list,
._2vXYGvKmZR7Lo2sotbJXSu ._1Cm8MtWPeKT-z_nWH5A93a {
  background-color: var(--MH-Background-Light) !important;
  color: var(--MH-Color) !important;
  border: 1px solid var(--MH-BorderColor) !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25) !important;
}

a:link {
	color: #FFF
}

a:visited {
	color: #FFF
}

a:hover {
	color: #3b90ff
}

a:active {
	color: #3b90ff
}

a:focus {
	color: #3b90ff
}

button,
.FDJEFXkDpWhBLZDxnInU,
._1kdiKOmw5B6yY4FMD6NTpP,
.hx5_4stp0vOrbAU6FKgUd,
textarea,
select,
.MuiInputBase-root {
  background-color: #2b2b2b !important;
  color: var(--MH-Color) !important;
  border: 1px solid #2b2b2b !important;
  box-shadow: none !important;
}

._1kdiKOmw5B6yY4FMD6NTpP,
._3cGUA8m2hzSmkDcv99II9_ {
  background: linear-gradient(180deg, #263b8f 0%, #2e4bd6 100%) !important;
  color: #fff !important;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #333;
}
*::-webkit-scrollbar-track {
  background: #1e1e1e;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #1e1e1e;
}

:root[mdt='1'] 
.diary-emotion-cache-2d0tnv-title,
.diary-emotion-cache-xl8xs4-chevron,
.diary-emotion-cache-gx07lg,
.diary-emotion-cache-362a62-monthNameIndicator,
.diary-emotion-cache-67jsu-rowText,
.diary-emotion-cache-8l90ne-title,
.diary-emotion-cache-1nnxim4-link-dotBadgeIsNew-linkWithRightMargin,
.diary-emotion-cache-kakzwb-subject,
.diary-emotion-cache-11mdt2n-link,
.ayhvRuTNcsSUu5c5C9LT,
.diary-emotion-cache-1ouk3di-link,
.styles_menuItem__yXmB7:not(.styles_horizontal__AXYUk),
.styles_compilationsSlider__a5tQ- .styles_header__ZTutF,
.styles_text__rmRpn,
.styles_tileType__Pd9LD,
.styled_sliderStub__-t6KR>h2,
.PlayerDescriptionBlock-title,
.css-1umjan1,
.css-135pug5,
.css-1nenzg3,
.diary-emotion-cache-rloa65-title,
.diary-emotion-cache-15i5qxa,
.diary-emotion-cache-jfffkg-lessonName,
.diary-emotion-cache-1cq6cco-partnerName,
.css-rgs6qu,
.css-bt3brp,
.styles_settings__rbtuN,
.styles_container__5FoFl,
.styles_header__ya4b5,
.diary-emotion-cache-12tvstw-description,
.style_callback_title__pIKzi,
.style_callback_description__MJvhW,
.style_aside-login_title__3gKiu,
.carousel *,
.styles_userName__xnjNo,
.css-r9wcxl,
.diary-emotion-cache-1bntp9t-absence,
.diary-emotion-cache-zd4pel-link,
._ELGiVRWaoZZRQLlT7eO,
.diary-emotion-cache-qpaovh-iconBlock,
.diary-emotion-cache-h3lsi4-chip-chip .MuiChip-icon,
.diary-emotion-cache-1xev7q1-chip-chip .MuiChip-icon,
.diary-emotion-cache-18ix5hp-tabIcon-svgDesktop,
.diary-emotion-cache-1yfmwck,
.css-nef2qd,
.katex {
  color: #fff !important;
}

:root[mdt='1'] .styles_compilationMaterialsSlider__tzgQ9>header>a {
  color: rgb(0, 160, 255) !important;
}

:root[mdt='1'] .diary-emotion-cache-gx07lg,
:root[mdt='1'] .diary-emotion-cache-kakzwb-subject {
  background-color: rgba(255,255,255,1) !important;
}

:root[mdt='1']
.css-rgs6qu:hover,
.css-1u0al2p .MuiPaper-root {
  color: #fff !important;
  borer-color: #fff !important;
}

:root:not([mdt]),
:root:not([mdt]) body,
:root:not([mdt]) #root {
  background-color: #f4f4f8 !important;
  color: #000 !important;
}

:root:not([mdt]) button,
:root:not([mdt]) ._2vXYGvKmZR7Lo2sotbJXSu,
:root:not([mdt]) ._3cGUA8m2hzSmkDcv99II9_,
:root:not([mdt]) ._1oN9V_mBeevEqPkgxa-KU-,
:root:not([mdt]) ._35JAg66-j8RunaN26U0EJA,
:root:not([mdt]) ._11XleFZOxeHarVKUNM0aAE,
:root:not([mdt]) .FDJEFXkDpWhBLZDxnInU, 
:root:not([mdt]) ._1kdiKOmw5B6yY4FMD6NTpP,
:root:not([mdt]) .hx5_4stp0vOrbAU6FKgUd,
:root:not([mdt]) ._2vXYGvKmZR7Lo2sotbJXSu ._1Cm8MtWPeKT-z_nWH5A93a {
  background-color: #f4f4f8 !important;
  color: #000 !important;
  border: none !important;
  box-shadow: none !important;
}

:root[mdt="1"] 
.vraolIxs2KxsrgKGRnTH path:nth-child(1),
.diary-emotion-cache-q4kcrt-root path:nth-child(1) {
    fill: #fff !important;
	fill-opacity: 1 !important;
}

:root[mdt="1"]
 .diary-emotion-cache-th4zjy-subMenu:hover,
._1yARRLZaSMCYxktfk30bsh, 
.diary-emotion-cache-1osf8ob-popperButton:hover,
.diary-emotion-cache-1yfwmxg-contentItem:hover,
.diary-emotion-cache-cvb8ai-root-desktop:hover,
.diary-emotion-cache-th4zjy-subMenu:hover,
.C0qHlb4C7fAcYrnlODD0:hover,
.diary-emotion-cache-r0xtfl-root-active-desktop,
.diary-emotion-cache-1bo36ky-root-collapsed:hover,
._3kp0YebVdyVNWP1R__IxW5:hover {
	background-color: #2f2f2f !important;
}
:root[mdt="1"]
._1xqL9ayhZ_m53Xg3xJ3ZxY,
.C0qHlb4C7fAcYrnlODD0,
.diary-emotion-cache-zd4pel-link {
	background-color: #1e1e1e !important;
}

:root[mdt="1"]
.diary-emotion-cache-4ylwtt,
.diary-emotion-cache-15i311l {
    border: 2px solid !important;
    border-color: rgba(150, 150, 150, 255) !important;
}

:root[mdt="1"]
.diary-emotion-cache-1pl0a43-dayBtn,
input {
    border: 1px solid #2f2f2f !important;
    background-color: #1a1a1a !important;
}

/*
:root[mdt="1"]
.AKVID4mBSAZ5bG4s2pFH:active, 
.AKVID4mBSAZ5bG4s2pFH:hover {
    
}
*/

:root[mdt="1"]
.style_btn__3lIWs:hover {
    background: #2991ff !important;
}

:root[mdt="1"]
.style_btn__3lIWs {
    background: #007cff !important;
}

:root[mdt="1"]
.diary-emotion-cache-yin7hv-absence {
    color: #ff2a2a
}

:root[mdt="1"]
.diary-emotion-cache-1207t0p-wrapper {
    border: 3px solid !important;
    border-color: #ff2a2a !important;
}

:root[mdt="1"]
.diary-emotion-cache-gx07lg {
    font-size: 15px
}

:root[mdt="1"]
.diary-emotion-cache-ye5vh7-subjectWrapper:hover,
.diary-emotion-cache-ye5vh7-subjectWrapper:hover [data-averagemark="averageMark"] {
	background-color: #343434 !important;
}
/*
p.s. its not working
з.ы. это не работает
:root[mdt="1"]
.diary-emotion-cache-1s9jjbq-rating {
	tranform: rotate(0deg);
}
*/
:root[mdt="1"]
.diary-emotion-cache-ye5vh7-subjectWrapper:hover [data-rating="win"] {
	background-color: rgba(250, 176, 5, 0.7);
}

:root[mdt="1"]
.diary-emotion-cache-ye5vh7-subjectWrapper:hover [data-rating="loser"] {
	background-color: #3a3a3a !important;
}

:root[mdt="1"]
.diary-emotion-cache-1bxnqtl-root-timeLine::before {
	background-color: #777 !important;
}

:root[mdt="1"]
.diary-emotion-cache-netmb2-homeworksTitle {
	color: #444 !important;
	text-color: #444 !important;
}

:root[mdt="1"]
.YBE0qDwYk2G2YgrpMySU {
	border-color: #eee !important;
	border-size: 2px !important;
}

:root[mdt="1"]
.diary-emotion-cache-8rq81s-root {
	border-color: #0a0a0a !important;
}

:root[mdt="1"]
.diary-emotion-cache-hcbtbc-textDayString-notWorkingDay,
.diary-emotion-cache-1labj8o-notWorkingDay {
	color: #FF4747 !important;
}
